.container-feed {
  width: 80%;
  margin: auto;
}

.feed-projects {
  width: 100%;
  padding-top: 2.6rem;
  padding-bottom: 4rem;
}

.feed-projects-empty {
  width: 100%;
  margin: auto;
  /* border: 1px solid red; */
  padding-top: 2.6rem;
  padding-bottom: 4rem;
  text-align: center;
}

.feed-projects-empty h2 {
  margin-bottom: 4rem;
}

.feed-projects-image {
  width: 40%;
  height: auto;
  margin: auto;
  margin-bottom: 3.7rem;
  margin-top: 4px;
  /* border: 1px solid red; */
}

.feed-projects-image img {
  width: 100%;
  height: auto;
}

.MenuTop {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 0px 20px; */
  margin: 1.5rem 0rem 1.5rem 0rem;
}

.MenuTop-item {
  background-color: transparent;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  padding-top: 1rem;
  border: none;
}

.MenuTop .active-menu {
  border-top: 2px solid var(--color-black);
}