.container-form {
  padding-top: 2rem;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-bottom: 20px;
}

.container-form label {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  display: block;
}

.container-form__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-form__form {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.container-form__form label {
  font-size: 1.7rem;
}

.container-trix {
  background-color: var(--color-white);
  width: 100%;
  font-size: 1.3rem;
  padding-left: 20px;
  margin-bottom: 10px;
}


.knowledge-list-addproject {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; */
}

.knowledge-list-addproject li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  /* background-color: var(--color-white);
  width: 100%;
  padding: 0px 5px; */
  /* font-size: 1.4rem;
  border: 2px solid var(--color-black-theme1);
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer; */
}

.tag-skill {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.custom-checkbox {
  width:  18px;
  height: 18px;
  margin-right: 10px;
}

.knowledge-list-addproject input.active{
  /* display: none; */
  background-color: aqua;
  width:  18px;
  height: 18px;
}

/* .custom-file-input::file-upload-button { */
.custom-file-input::-webkit-file-upload-button, 
.custom-file-input::file-selector-button {
  background-color: var(--color-white);
  padding: var(--padding-buttons);
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border:none;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-black-theme1);
  border: 2px solid var(--color-black-theme1);
}
.custom-file-input::-webkit-file-upload-button:hover {
  background-color: var(--color-black-theme1);
  padding: var(--padding-buttons);
  color: var(--color-white);
  box-shadow: -3px -3px 0px 0px var(--color-black-theme1);
}