.container-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.container-header a {
  text-decoration: none;
  color: var(--color-black);
}

.container-header__content {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-bottom: 1px solid var(--color-text-default);
}

.container-header__content nav .logo {
  width: 27px;
}
.container-header__content img, svg {
  width: 100%;
}