.container-login {
  background-color: var(--color-gray);
  width: 100%;
  height: 100vh;
  /* height: calc(100vh - 70px); */
  font-size: 1.8rem;

  display: flex;
  justify-content: center;
}

.section-login {
  width: 50%;
  /* border: 1px solid red; */
}

.section-login:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-login .section-login__info {
  width: 60%;
  height: 80%;
}

.section-login .section-login__info label {
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: .6rem;
}

.section-login .section-login__logo {
  width: 40%;
  margin: auto;
  /* border: 1px solid red; */
}

.section-login:nth-of-type(2) {
  background-color: var(--color-black-theme1);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container-login {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }
  .section-login {
    width: 100%;
  }

  .section-login:nth-of-type(1) {
    width: 100%;
  }

  .section-login:nth-of-type(2) {
    width: 100%;
    height: 88px;
  }
  
  .section-login:nth-of-type(2) .title-section-form h2 {
    font-size: 2.4rem;
    text-align: center;
  }

}

@media screen and (max-width: 489px) { 
  .section-login .section-login__info {
    width: 80%;
  }
}